In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('data/유동인구_1월.csv', encoding = 'euc_kr')
df2 = pd.read_csv('data/유동인구_8월.csv', encoding = 'euc_kr')

In [3]:
df1

        base_date  time   emd_nm  age  resd_pop_cnt  visit_pop_cnt
0        20190101     1  제주시 건입동    0      744.8949       324.0720
1        20190101     1  제주시 건입동   10      838.6952       375.6734
2        20190101     1  제주시 건입동   20      707.8872       696.8198
3        20190101     1  제주시 건입동   30      803.3395       739.9015
4        20190101     1  제주시 건입동   40     1331.5881       825.1003
...           ...   ...      ...  ...           ...            ...
158908   20190129     8  제주시 한림읍   40     3199.9603      1337.2697
158909   20190129     8  제주시 한림읍   50     3204.9956      1440.2643
158910   20190129     8  제주시 한림읍   60     2615.3111       830.5845
158911   20190129     8  제주시 한림읍   70     1159.6225       300.2995
158912   20190129     8  제주시 한림읍   80      725.4422       162.0234

[158913 rows x 6 columns]

In [4]:
a = df1.copy()
b = a.drop(['time', 'age', 'resd_pop_cnt'], axis = 1)
c = round(b.groupby(['base_date','emd_nm']).mean())
c.rename(columns = {'visit_pop_cnt' : '1월 유동인구'}, inplace=  True)
d = c.groupby(['emd_nm']).sum()
d['1월 유동인구'] = d['1월 유동인구'] * 30
d

            1월 유동인구
emd_nm
제주시 건입동    591870.0
제주시 구좌읍    654420.0
제주시 노형동   1916550.0
제주시 도두동    331380.0
제주시 봉개동    353250.0
제주시 삼도1동   569190.0
제주시 삼도2동   533430.0
제주시 삼양동    468960.0
제주시 아라동   1139130.0
제주시 애월읍   1946370.0
제주시 연동    2098140.0
제주시 오라동   1132290.0
제주시 외도동    455610.0
제주시 용담1동   377130.0
제주시 용담2동  1131210.0
제주시 우도면    108330.0
제주시 이도1동   723030.0
제주시 이도2동  2404350.0
제주시 이호동    271680.0
제주시 일도1동   252660.0
제주시 일도2동   993510.0
제주시 조천읍   1064460.0
제주시 추자면    133680.0
제주시 한경면    284670.0
제주시 한림읍    793410.0
제주시 화북동    793380.0

In [5]:
e = df2.copy()
f = e.drop(['time', 'age', 'resd_pop_cnt'], axis = 1)
f = round(f.groupby(['base_date','emd_nm']).mean())
f.rename(columns = {'visit_pop_cnt' : '8월 유동인구'}, inplace=  True)
g = f.groupby(['emd_nm']).sum()
g['8월 유동인구'] = g['8월 유동인구'] * 30
g

            8월 유동인구
emd_nm
제주시 건입동    653340.0
제주시 구좌읍    971820.0
제주시 노형동   1976490.0
제주시 도두동    355890.0
제주시 봉개동    487560.0
제주시 삼도1동   542250.0
제주시 삼도2동   534570.0
제주시 삼양동    464190.0
제주시 아라동   1279110.0
제주시 애월읍   2339820.0
제주시 연동    2030250.0
제주시 오라동   1086060.0
제주시 외도동    430110.0
제주시 용담1동   377220.0
제주시 용담2동  1346190.0
제주시 우도면    161430.0
제주시 이도1동   834390.0
제주시 이도2동  2180640.0
제주시 이호동    331230.0
제주시 일도1동   255720.0
제주시 일도2동   919020.0
제주시 조천읍   1401240.0
제주시 추자면    138000.0
제주시 한경면    364650.0
제주시 한림읍   1104210.0
제주시 화북동    814950.0

In [6]:
df3 = pd.concat([d, g], axis = 1)
df3

            1월 유동인구    8월 유동인구
emd_nm
제주시 건입동    591870.0   653340.0
제주시 구좌읍    654420.0   971820.0
제주시 노형동   1916550.0  1976490.0
제주시 도두동    331380.0   355890.0
제주시 봉개동    353250.0   487560.0
제주시 삼도1동   569190.0   542250.0
제주시 삼도2동   533430.0   534570.0
제주시 삼양동    468960.0   464190.0
제주시 아라동   1139130.0  1279110.0
제주시 애월읍   1946370.0  2339820.0
제주시 연동    2098140.0  2030250.0
제주시 오라동   1132290.0  1086060.0
제주시 외도동    455610.0   430110.0
제주시 용담1동   377130.0   377220.0
제주시 용담2동  1131210.0  1346190.0
제주시 우도면    108330.0   161430.0
제주시 이도1동   723030.0   834390.0
제주시 이도2동  2404350.0  2180640.0
제주시 이호동    271680.0   331230.0
제주시 일도1동   252660.0   255720.0
제주시 일도2동   993510.0   919020.0
제주시 조천읍   1064460.0  1401240.0
제주시 추자면    133680.0   138000.0
제주시 한경면    284670.0   364650.0
제주시 한림읍    793410.0  1104210.0
제주시 화북동    793380.0   814950.0

In [7]:
import numpy as np
df3['mean_유동인구'] = round((df3['1월 유동인구']+df3['8월 유동인구'])/2)
df3

            1월 유동인구    8월 유동인구  mean_유동인구
emd_nm
제주시 건입동    591870.0   653340.0   622605.0
제주시 구좌읍    654420.0   971820.0   813120.0
제주시 노형동   1916550.0  1976490.0  1946520.0
제주시 도두동    331380.0   355890.0   343635.0
제주시 봉개동    353250.0   487560.0   420405.0
제주시 삼도1동   569190.0   542250.0   555720.0
제주시 삼도2동   533430.0   534570.0   534000.0
제주시 삼양동    468960.0   464190.0   466575.0
제주시 아라동   1139130.0  1279110.0  1209120.0
제주시 애월읍   1946370.0  2339820.0  2143095.0
제주시 연동    2098140.0  2030250.0  2064195.0
제주시 오라동   1132290.0  1086060.0  1109175.0
제주시 외도동    455610.0   430110.0   442860.0
제주시 용담1동   377130.0   377220.0   377175.0
제주시 용담2동  1131210.0  1346190.0  1238700.0
제주시 우도면    108330.0   161430.0   134880.0
제주시 이도1동   723030.0   834390.0   778710.0
제주시 이도2동  2404350.0  2180640.0  2292495.0
제주시 이호동    271680.0   331230.0   301455.0
제주시 일도1동   252660.0   255720.0   254190.0
제주시 일도2동   993510.0   919020.0   956265.0
제주시 조천읍   1064460.0  1401240.0  1232850.0
제주시 추자면    133680.0   138000.0   135840.0
제주시 한경면    284670.0   364650.0   324660.0
제주시 한림읍    793410.0  1104210.0   948810.0
제주시 화북동    793380.0   814950.0   804165.0

In [8]:
유동인구 = df3.loc[:,'mean_유동인구']
유동인구

emd_nm
제주시 건입동      622605.0
제주시 구좌읍      813120.0
제주시 노형동     1946520.0
제주시 도두동      343635.0
제주시 봉개동      420405.0
제주시 삼도1동     555720.0
제주시 삼도2동     534000.0
제주시 삼양동      466575.0
제주시 아라동     1209120.0
제주시 애월읍     2143095.0
제주시 연동      2064195.0
제주시 오라동     1109175.0
제주시 외도동      442860.0
제주시 용담1동     377175.0
제주시 용담2동    1238700.0
제주시 우도면      134880.0
제주시 이도1동     778710.0
제주시 이도2동    2292495.0
제주시 이호동      301455.0
제주시 일도1동     254190.0
제주시 일도2동     956265.0
제주시 조천읍     1232850.0
제주시 추자면      135840.0
제주시 한경면      324660.0
제주시 한림읍      948810.0
제주시 화북동      804165.0
Name: mean_유동인구, dtype: float64

In [9]:
유동인구.to_csv('유동인구.csv', encoding = 'euc_kr')

------

In [59]:
a = pd.read_csv('data/1월평일.csv', encoding = 'euc_kr')
b = pd.read_csv('data/1월주말.csv', encoding = 'euc_kr')
c = pd.read_csv('data/8월평일.csv', encoding = 'euc_kr')
d = pd.read_csv('data/8월주말.csv', encoding = 'euc_kr')

In [60]:
len(a['base_date'].unique())

21

In [61]:
# df1.drop(['time', 'age', 'resd_pop_cnt'], axis = 1, inplace= True)

In [62]:
a.drop(['base_date', 'resd_pop_cnt'], axis = 1, inplace=  True)

In [63]:
a = a.groupby(['emd_nm']).sum()
a

          visit_pop_cnt
emd_nm
제주시 건입동    2.943293e+06
제주시 구좌읍    3.274993e+06
제주시 노형동    9.712374e+06
제주시 도두동    1.624916e+06
제주시 봉개동    1.787713e+06
제주시 삼도1동   2.920126e+06
제주시 삼도2동   2.678219e+06
제주시 삼양동    2.328133e+06
제주시 아라동    5.889128e+06
제주시 애월읍    9.635127e+06
제주시 연동     1.071531e+07
제주시 오라동    5.841235e+06
제주시 외도동    2.317394e+06
제주시 용담1동   1.918964e+06
제주시 용담2동   5.778357e+06
제주시 우도면    5.546873e+05
제주시 이도1동   3.696951e+06
제주시 이도2동   1.236471e+07
제주시 이호동    1.365349e+06
제주시 일도1동   1.269664e+06
제주시 일도2동   4.986825e+06
제주시 조천읍    5.306494e+06
제주시 추자면    6.664420e+05
제주시 한경면    1.405163e+06
제주시 한림읍    3.942662e+06
제주시 화북동    4.058799e+06

In [67]:
(3.696951e+06+1.236471e+07)/21

764841.0

In [39]:
a['d'] = round(a['visit_pop_cnt']/21)
a

          visit_pop_cnt         d
emd_nm
제주시 건입동    2.943293e+06  140157.0
제주시 구좌읍    3.274993e+06  155952.0
제주시 노형동    9.712374e+06  462494.0
제주시 도두동    1.624916e+06   77377.0
제주시 봉개동    1.787713e+06   85129.0
제주시 삼도1동   2.920126e+06  139054.0
제주시 삼도2동   2.678219e+06  127534.0
제주시 삼양동    2.328133e+06  110863.0
제주시 아라동    5.889128e+06  280435.0
제주시 애월읍    9.635127e+06  458816.0
제주시 연동     1.071531e+07  510253.0
제주시 오라동    5.841235e+06  278154.0
제주시 외도동    2.317394e+06  110352.0
제주시 용담1동   1.918964e+06   91379.0
제주시 용담2동   5.778357e+06  275160.0
제주시 우도면    5.546873e+05   26414.0
제주시 이도1동   3.696951e+06  176045.0
제주시 이도2동   1.236471e+07  588796.0
제주시 이호동    1.365349e+06   65017.0
제주시 일도1동   1.269664e+06   60460.0
제주시 일도2동   4.986825e+06  237468.0
제주시 조천읍    5.306494e+06  252690.0
제주시 추자면    6.664420e+05   31735.0
제주시 한경면    1.405163e+06   66913.0
제주시 한림읍    3.942662e+06  187746.0
제주시 화북동    4.058799e+06  193276.0

In [40]:
c.head(3)

    base_date  time   emd_nm   age  resd_pop_cnt  visit_pop_cnt
0  20190801.0   1.0  제주시 건입동   0.0      872.3212       331.8353
1  20190801.0   1.0  제주시 건입동  10.0      988.3015       383.5067
2  20190801.0   1.0  제주시 건입동  20.0      899.6213       663.1542

In [41]:
len(c['base_date'].unique())

22

In [42]:
c.drop(['base_date', 'time', 'age', 'resd_pop_cnt'], axis = 1, inplace = True)

In [43]:
c = c.groupby(['emd_nm']).sum()
c

          visit_pop_cnt
emd_nm
제주시 건입동    3.292310e+06
제주시 구좌읍    4.766411e+06
제주시 노형동    1.020188e+07
제주시 도두동    1.784572e+06
제주시 봉개동    2.476475e+06
제주시 삼도1동   2.765339e+06
제주시 삼도2동   2.698477e+06
제주시 삼양동    2.283963e+06
제주시 아라동    6.779380e+06
제주시 애월읍    1.144314e+07
제주시 연동     1.049305e+07
제주시 오라동    5.592686e+06
제주시 외도동    2.155950e+06
제주시 용담1동   1.936846e+06
제주시 용담2동   6.881290e+06
제주시 우도면    8.063650e+05
제주시 이도1동   4.331110e+06
제주시 이도2동   1.123550e+07
제주시 이호동    1.627440e+06
제주시 일도1동   1.302200e+06
제주시 일도2동   4.653027e+06
제주시 조천읍    6.865829e+06
제주시 추자면    6.601876e+05
제주시 한경면    1.760531e+06
제주시 한림읍    5.470999e+06
제주시 화북동    4.255102e+06

In [69]:
round((4.331110e+06+1.123550e+07)/22)

707573

In [44]:
a['e'] = round(c['visit_pop_cnt']/22)
a

          visit_pop_cnt         d         e
emd_nm
제주시 건입동    2.943293e+06  140157.0  149650.0
제주시 구좌읍    3.274993e+06  155952.0  216655.0
제주시 노형동    9.712374e+06  462494.0  463722.0
제주시 도두동    1.624916e+06   77377.0   81117.0
제주시 봉개동    1.787713e+06   85129.0  112567.0
제주시 삼도1동   2.920126e+06  139054.0  125697.0
제주시 삼도2동   2.678219e+06  127534.0  122658.0
제주시 삼양동    2.328133e+06  110863.0  103817.0
제주시 아라동    5.889128e+06  280435.0  308154.0
제주시 애월읍    9.635127e+06  458816.0  520143.0
제주시 연동     1.071531e+07  510253.0  476957.0
제주시 오라동    5.841235e+06  278154.0  254213.0
제주시 외도동    2.317394e+06  110352.0   97998.0
제주시 용담1동   1.918964e+06   91379.0   88038.0
제주시 용담2동   5.778357e+06  275160.0  312786.0
제주시 우도면    5.546873e+05   26414.0   36653.0
제주시 이도1동   3.696951e+06  176045.0  196869.0
제주시 이도2동   1.236471e+07  588796.0  510705.0
제주시 이호동    1.365349e+06   65017.0   73975.0
제주시 일도1동   1.269664e+06   60460.0   59191.0
제주시 일도2동   4.986825e+06  237468.0  211501.0
제주시 조천읍    5.306494e+06  252690.0  312083.0
제주시 추자면    6.664420e+05   31735.0   30009.0
제주시 한경면    1.405163e+06   66913.0   80024.0
제주시 한림읍    3.942662e+06  187746.0  248682.0
제주시 화북동    4.058799e+06  193276.0  193414.0

In [45]:
a['mean'] = round((a['d']+a['e'])/2)
a

          visit_pop_cnt         d         e      mean
emd_nm
제주시 건입동    2.943293e+06  140157.0  149650.0  144904.0
제주시 구좌읍    3.274993e+06  155952.0  216655.0  186304.0
제주시 노형동    9.712374e+06  462494.0  463722.0  463108.0
제주시 도두동    1.624916e+06   77377.0   81117.0   79247.0
제주시 봉개동    1.787713e+06   85129.0  112567.0   98848.0
제주시 삼도1동   2.920126e+06  139054.0  125697.0  132376.0
제주시 삼도2동   2.678219e+06  127534.0  122658.0  125096.0
제주시 삼양동    2.328133e+06  110863.0  103817.0  107340.0
제주시 아라동    5.889128e+06  280435.0  308154.0  294294.0
제주시 애월읍    9.635127e+06  458816.0  520143.0  489480.0
제주시 연동     1.071531e+07  510253.0  476957.0  493605.0
제주시 오라동    5.841235e+06  278154.0  254213.0  266184.0
제주시 외도동    2.317394e+06  110352.0   97998.0  104175.0
제주시 용담1동   1.918964e+06   91379.0   88038.0   89708.0
제주시 용담2동   5.778357e+06  275160.0  312786.0  293973.0
제주시 우도면    5.546873e+05   26414.0   36653.0   31534.0
제주시 이도1동   3.696951e+06  176045.0  196869.0  186457.0
제주시 이도2동   1.236471e+07  588796.0  510705.0  549750.0
제주시 이호동    1.365349e+06   65017.0   73975.0   69496.0
제주시 일도1동   1.269664e+06   60460.0   59191.0   59826.0
제주시 일도2동   4.986825e+06  237468.0  211501.0  224484.0
제주시 조천읍    5.306494e+06  252690.0  312083.0  282386.0
제주시 추자면    6.664420e+05   31735.0   30009.0   30872.0
제주시 한경면    1.405163e+06   66913.0   80024.0   73468.0
제주시 한림읍    3.942662e+06  187746.0  248682.0  218214.0
제주시 화북동    4.058799e+06  193276.0  193414.0  193345.0

In [46]:
b.head(3)

   base_date  time   emd_nm  age  resd_pop_cnt  visit_pop_cnt
0   20190105     1  제주시 건입동    0      846.4641       290.2094
1   20190105     1  제주시 건입동   10      957.8132       336.1007
2   20190105     1  제주시 건입동   20      878.8359       603.2925

In [47]:
len(b['base_date'].unique())

8

In [48]:
b.drop(['base_date', 'time', 'age', 'resd_pop_cnt'], axis = 1, inplace = True)
b = b.groupby(['emd_nm']).sum()
b['f'] = round(b['visit_pop_cnt']/8)
b

          visit_pop_cnt         f
emd_nm
제주시 건입동    1.239126e+06  154891.0
제주시 구좌읍    1.355032e+06  169379.0
제주시 노형동    3.878648e+06  484831.0
제주시 도두동    7.233532e+05   90419.0
제주시 봉개동    7.182055e+05   89776.0
제주시 삼도1동   1.108225e+06  138528.0
제주시 삼도2동   1.103567e+06  137946.0
제주시 삼양동    9.902185e+05  123777.0
제주시 아라동    2.174376e+06  271797.0
제주시 애월읍    4.132653e+06  516582.0
제주시 연동     4.114227e+06  514278.0
제주시 오라동    2.190511e+06  273814.0
제주시 외도동    9.032918e+05  112911.0
제주시 용담1동   7.522498e+05   94031.0
제주시 용담2동   2.272853e+06  284107.0
제주시 우도면    2.143253e+05   26791.0
제주시 이도1동   1.436339e+06  179542.0
제주시 이도2동   4.710313e+06  588789.0
제주시 이호동    5.616762e+05   70210.0
제주시 일도1동   5.305580e+05   66320.0
제주시 일도2동   2.049607e+06  256201.0
제주시 조천읍    2.225481e+06  278185.0
제주시 추자면    2.791362e+05   34892.0
제주시 한경면    6.147957e+05   76849.0
제주시 한림읍    1.659550e+06  207444.0
제주시 화북동    1.573912e+06  196739.0

In [71]:
round((1.436339e+06+4.710313e+06)/8)

768332

In [49]:
len(d['base_date'].unique())

8

In [72]:
d.drop(['base_date', 'time', 'age', 'resd_pop_cnt'], axis = 1, inplace = True)
d = d.groupby(['emd_nm']).sum()
d
# b['g'] = round(d['visit_pop_cnt']/8)
# b

          visit_pop_cnt
emd_nm
제주시 건입동    1.323687e+06
제주시 구좌읍    2.126741e+06
제주시 노형동    3.823801e+06
제주시 도두동    7.228529e+05
제주시 봉개동    9.818472e+05
제주시 삼도1동   1.060905e+06
제주시 삼도2동   1.084595e+06
제주시 삼양동    1.008445e+06
제주시 아라동    2.258363e+06
제주시 애월읍    5.092435e+06
제주시 연동     3.831535e+06
제주시 오라동    2.115541e+06
제주시 외도동    8.884861e+05
제주시 용담1동   7.288040e+05
제주시 용담2동   2.695908e+06
제주시 우도면    3.394694e+05
제주시 이도1동   1.588348e+06
제주시 이도2동   4.256940e+06
제주시 이호동    7.203259e+05
제주시 일도1동   5.216667e+05
제주시 일도2동   1.860355e+06
제주시 조천읍    3.048665e+06
제주시 추자면    3.171475e+05
제주시 한경면    8.258710e+05
제주시 한림읍    2.334396e+06
제주시 화북동    1.536449e+06

In [74]:
round((1.588348e+06+4.256940e+06)/8)

730661

In [52]:
b['mean1'] = round((b['f']+b['g'])/2)
b

          visit_pop_cnt         f         g      mean     mean1
emd_nm
제주시 건입동    1.239126e+06  154891.0  165461.0  160176.0  160176.0
제주시 구좌읍    1.355032e+06  169379.0  265843.0  217611.0  217611.0
제주시 노형동    3.878648e+06  484831.0  477975.0  481403.0  481403.0
제주시 도두동    7.233532e+05   90419.0   90357.0   90388.0   90388.0
제주시 봉개동    7.182055e+05   89776.0  122731.0  106254.0  106254.0
제주시 삼도1동   1.108225e+06  138528.0  132613.0  135570.0  135570.0
제주시 삼도2동   1.103567e+06  137946.0  135574.0  136760.0  136760.0
제주시 삼양동    9.902185e+05  123777.0  126056.0  124916.0  124916.0
제주시 아라동    2.174376e+06  271797.0  282295.0  277046.0  277046.0
제주시 애월읍    4.132653e+06  516582.0  636554.0  576568.0  576568.0
제주시 연동     4.114227e+06  514278.0  478942.0  496610.0  496610.0
제주시 오라동    2.190511e+06  273814.0  264443.0  269128.0  269128.0
제주시 외도동    9.032918e+05  112911.0  111061.0  111986.0  111986.0
제주시 용담1동   7.522498e+05   94031.0   91101.0   92566.0   92566.0
제주시 용담2동   2.272853e+06  284107.0  336989.0  310548.0  310548.0
제주시 우도면    2.143253e+05   26791.0   42434.0   34612.0   34612.0
제주시 이도1동   1.436339e+06  179542.0  198544.0  189043.0  189043.0
제주시 이도2동   4.710313e+06  588789.0  532118.0  560454.0  560454.0
제주시 이호동    5.616762e+05   70210.0   90041.0   80126.0   80126.0
제주시 일도1동   5.305580e+05   66320.0   65208.0   65764.0   65764.0
제주시 일도2동   2.049607e+06  256201.0  232544.0  244372.0  244372.0
제주시 조천읍    2.225481e+06  278185.0  381083.0  329634.0  329634.0
제주시 추자면    2.791362e+05   34892.0   39643.0   37268.0   37268.0
제주시 한경면    6.147957e+05   76849.0  103234.0   90042.0   90042.0
제주시 한림읍    1.659550e+06  207444.0  291799.0  249622.0  249622.0
제주시 화북동    1.573912e+06  196739.0  192056.0  194398.0  194398.0

In [53]:
tot = pd.concat([a['mean'], b['mean1']], axis = 1)
tot

              mean     mean1
emd_nm
제주시 건입동   144904.0  160176.0
제주시 구좌읍   186304.0  217611.0
제주시 노형동   463108.0  481403.0
제주시 도두동    79247.0   90388.0
제주시 봉개동    98848.0  106254.0
제주시 삼도1동  132376.0  135570.0
제주시 삼도2동  125096.0  136760.0
제주시 삼양동   107340.0  124916.0
제주시 아라동   294294.0  277046.0
제주시 애월읍   489480.0  576568.0
제주시 연동    493605.0  496610.0
제주시 오라동   266184.0  269128.0
제주시 외도동   104175.0  111986.0
제주시 용담1동   89708.0   92566.0
제주시 용담2동  293973.0  310548.0
제주시 우도면    31534.0   34612.0
제주시 이도1동  186457.0  189043.0
제주시 이도2동  549750.0  560454.0
제주시 이호동    69496.0   80126.0
제주시 일도1동   59826.0   65764.0
제주시 일도2동  224484.0  244372.0
제주시 조천읍   282386.0  329634.0
제주시 추자면    30872.0   37268.0
제주시 한경면    73468.0   90042.0
제주시 한림읍   218214.0  249622.0
제주시 화북동   193345.0  194398.0

In [75]:
tot['a'] = (tot['mean1']/(tot['mean']+tot['mean1']))
tot

              mean     mean1         a
emd_nm
제주시 건입동   144904.0  160176.0  0.525030
제주시 구좌읍   186304.0  217611.0  0.538754
제주시 노형동   463108.0  481403.0  0.509685
제주시 도두동    79247.0   90388.0  0.532838
제주시 봉개동    98848.0  106254.0  0.518054
제주시 삼도1동  132376.0  135570.0  0.505960
제주시 삼도2동  125096.0  136760.0  0.522272
제주시 삼양동   107340.0  124916.0  0.537838
제주시 아라동   294294.0  277046.0  0.484906
제주시 애월읍   489480.0  576568.0  0.540846
제주시 연동    493605.0  496610.0  0.501517
제주시 오라동   266184.0  269128.0  0.502750
제주시 외도동   104175.0  111986.0  0.518068
제주시 용담1동   89708.0   92566.0  0.507840
제주시 용담2동  293973.0  310548.0  0.513709
제주시 우도면    31534.0   34612.0  0.523267
제주시 이도1동  186457.0  189043.0  0.503443
제주시 이도2동  549750.0  560454.0  0.504821
제주시 이호동    69496.0   80126.0  0.535523
제주시 일도1동   59826.0   65764.0  0.523640
제주시 일도2동  224484.0  244372.0  0.521209
제주시 조천읍   282386.0  329634.0  0.538600
제주시 추자면    30872.0   37268.0  0.546933
제주시 한경면    73468.0   90042.0  0.550682
제주시 한림읍   218214.0  249622.0  0.533567
제주시 화북동   193345.0  194398.0  0.501358