In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('버스.csv', encoding = 'euc_kr')
df1 = pd.read_csv('유동인구.csv', encoding = 'euc_kr')
df2 = pd.read_csv('수정.csv', encoding = 'euc_kr')

FileNotFoundError: [Errno 2] No such file or directory: '버스.csv'

In [8]:
a = df1['emd_nm'].str.split(" ")

0      [제주시, 건입동]
1      [제주시, 구좌읍]
2      [제주시, 노형동]
3      [제주시, 도두동]
4      [제주시, 봉개동]
5     [제주시, 삼도1동]
6     [제주시, 삼도2동]
7      [제주시, 삼양동]
8      [제주시, 아라동]
9      [제주시, 애월읍]
10      [제주시, 연동]
11     [제주시, 오라동]
12     [제주시, 외도동]
13    [제주시, 용담1동]
14    [제주시, 용담2동]
15     [제주시, 우도면]
16    [제주시, 이도1동]
17    [제주시, 이도2동]
18     [제주시, 이호동]
19    [제주시, 일도1동]
20    [제주시, 일도2동]
21     [제주시, 조천읍]
22     [제주시, 추자면]
23     [제주시, 한경면]
24     [제주시, 한림읍]
25     [제주시, 화북동]
Name: emd_nm, dtype: object

In [23]:
df1['emd_nm'] = a.str[1]
df1.rename(columns = {'emd_nm' : '읍면동'}, inplace = True)
df1.head(3)

   읍면동  mean_유동인구
0  건입동   622605.0
1  구좌읍   813120.0
2  노형동  1946520.0

In [27]:
combine = pd.concat([df1, df['mean_버스'], df2['면수']], axis = 1)
combine.head(3)

   읍면동  mean_유동인구  mean_버스    면수
0  건입동   622605.0    54904   370
1  구좌읍   813120.0    80489     4
2  노형동  1946520.0   321138  1587

In [28]:
combine['주차수요량'] = round((combine['mean_유동인구']-combine['mean_버스'])/5)-combine['면수']
combine.head(3)

   읍면동  mean_유동인구  mean_버스    면수     주차수요량
0  건입동   622605.0    54904   370  113170.0
1  구좌읍   813120.0    80489     4  146522.0
2  노형동  1946520.0   321138  1587  323489.0

In [29]:
주차수요량 = combine.loc[:, ['읍면동', '주차수요량']]
주차수요량.head(3)

   읍면동     주차수요량
0  건입동  113170.0
1  구좌읍  146522.0
2  노형동  323489.0

In [30]:
주차수요량.to_csv('주차수요량_기준5대.csv', encoding = 'euc_kr')