In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/버스.csv', encoding = 'euc_kr')
df1 = pd.read_csv('data/유동인구.csv', encoding = 'euc_kr')
df2 = pd.read_csv('data/수정.csv', encoding = 'euc_kr')

In [3]:
a = df1['emd_nm'].str.split(" ")

In [4]:
df1['emd_nm'] = a.str[1]
df1.rename(columns = {'emd_nm' : '읍면동'}, inplace = True)
df1.head(3)

   읍면동  mean_유동인구
0  건입동   622605.0
1  구좌읍   813120.0
2  노형동  1946520.0

In [5]:
combine = pd.concat([df1, df['mean_버스'], df2['면수']], axis = 1)
combine.head(3)

   읍면동  mean_유동인구  mean_버스    면수
0  건입동   622605.0    54904   370
1  구좌읍   813120.0    80489     4
2  노형동  1946520.0   321138  1587

In [7]:
combine['주차수요량'] = round((combine['mean_유동인구']/5)-combine['면수'])
combine.head(3)

   읍면동  mean_유동인구  mean_버스    면수     주차수요량
0  건입동   622605.0    54904   370  124151.0
1  구좌읍   813120.0    80489     4  162620.0
2  노형동  1946520.0   321138  1587  387717.0

In [8]:
주차수요량 = combine.loc[:, ['읍면동', '주차수요량']]
주차수요량.head(3)

   읍면동     주차수요량
0  건입동  124151.0
1  구좌읍  162620.0
2  노형동  387717.0

In [10]:
주차수요량.to_csv('주차수요량_기준대.csv', encoding = 'euc_kr')