In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('유동인구1월8월.xlsx')
df.rename(columns = {'Unnamed: 0' : '주소'}, inplace = True)
df.drop(['1_resd_pop_cnt', '8_resd_pop_cnt'], axis = 1, inplace = True)
df

          주소  1_visit_pop_cnt  8_visit_pop_cnt
0    제주시 건입동          4806286          4975095
1    제주시 구좌읍          6449781          7875935
2    제주시 노형동         12414277         13978379
3    제주시 도두동          2401499          2618690
4    제주시 봉개동            90732          3622433
5   제주시 삼도1동          3819164          3980180
6   제주시 삼도2동          4229375          4068342
7    제주시 삼양동          3818277          3497851
8    제주시 아라동          7148492          9098777
9    제주시 애월읍         14493021         17836756
10    제주시 연동         13514566         14194034
11   제주시 오라동          7626437          8199593
12   제주시 외도동          3340224          3214222
13  제주시 용담1동          2776468          2685448
14  제주시 용담2동          8501388          9513207
15   제주시 우도면           909490          1455473
16  제주시 이도1동          4892519          6347827
17  제주시 이도2동         16228581         15977157
18   제주시 이호동          2081921          2578712
19  제주시 일도1동          1882626          1983999
20  제주시 일도2동          7473461          6458292
21   제주시 조천읍          9109550         11616598
22   제주시 추자면          1070307          1211017
23   제주시 한경면          2066553          3012196
24   제주시 한림읍          5201546          9065052
25   제주시 화북동          5763067          5814007

In [3]:
df2 = df.copy()
df2['mean_visit_pop_cnt_12'] = ((df2['1_visit_pop_cnt']+df2['8_visit_pop_cnt'])/2)*12
df2['mean_visit_pop_cnt_1'] = round((df2['1_visit_pop_cnt']+df2['8_visit_pop_cnt'])/2)
df2.drop(['1_visit_pop_cnt', '8_visit_pop_cnt'], axis = 1, inplace = True)
df2

          주소  mean_visit_pop_cnt_12  mean_visit_pop_cnt_1
0    제주시 건입동             58688286.0             4890690.0
1    제주시 구좌읍             85954296.0             7162858.0
2    제주시 노형동            158355936.0            13196328.0
3    제주시 도두동             30121134.0             2510094.0
4    제주시 봉개동             22278990.0             1856582.0
5   제주시 삼도1동             46796064.0             3899672.0
6   제주시 삼도2동             49786302.0             4148858.0
7    제주시 삼양동             43896768.0             3658064.0
8    제주시 아라동             97483614.0             8123634.0
9    제주시 애월읍            193978662.0            16164888.0
10    제주시 연동            166251600.0            13854300.0
11   제주시 오라동             94956180.0             7913015.0
12   제주시 외도동             39326676.0             3277223.0
13  제주시 용담1동             32771496.0             2730958.0
14  제주시 용담2동            108087570.0             9007298.0
15   제주시 우도면             14189778.0             1182482.0
16  제주시 이도1동             67442076.0             5620173.0
17  제주시 이도2동            193234428.0            16102869.0
18   제주시 이호동             27963798.0             2330316.0
19  제주시 일도1동             23199750.0             1933312.0
20  제주시 일도2동             83590518.0             6965876.0
21   제주시 조천읍            124356888.0            10363074.0
22   제주시 추자면             13687944.0             1140662.0
23   제주시 한경면             30472494.0             2539374.0
24   제주시 한림읍             85599588.0             7133299.0
25   제주시 화북동             69462444.0             5788537.0

In [20]:
a = pd.read_csv('유동인구_1월.csv', encoding = 'euc_kr')
b = pd.read_csv('유동인구_8월.csv', encoding = 'euc_kr')

In [21]:
a.drop(['time', 'age', 'resd_pop_cnt', 'base_date'], axis = 1, inplace = True)
b.drop(['time', 'age','resd_pop_cnt', 'base_date'], axis = 1, inplace = True)

In [24]:
a = a.groupby(['emd_nm']).sum()
a.rename(columns = {'visit_pop_cnt' : '1월방문객수'}, inplace = True)
a

                1월방문객수
emd_nm
제주시 건입동   4.182419e+06
제주시 구좌읍   4.630025e+06
제주시 노형동   1.359102e+07
제주시 도두동   2.348270e+06
제주시 봉개동   2.505919e+06
제주시 삼도1동  4.028351e+06
제주시 삼도2동  3.781787e+06
제주시 삼양동   3.318351e+06
제주시 아라동   8.063504e+06
제주시 애월읍   1.376778e+07
제주시 연동    1.482954e+07
제주시 오라동   8.031746e+06
제주시 외도동   3.220686e+06
제주시 용담1동  2.671214e+06
제주시 용담2동  8.051210e+06
제주시 우도면   7.690125e+05
제주시 이도1동  5.133290e+06
제주시 이도2동  1.707502e+07
제주시 이호동   1.927025e+06
제주시 일도1동  1.800222e+06
제주시 일도2동  7.036432e+06
제주시 조천읍   7.531975e+06
제주시 추자면   9.455782e+05
제주시 한경면   2.019959e+06
제주시 한림읍   5.602212e+06
제주시 화북동   5.632711e+06

In [25]:
b = b.groupby(['emd_nm']).sum()
b.rename(columns = {'visit_pop_cnt' : '8월방문객수'}, inplace = True)
b

                8월방문객수
emd_nm
제주시 건입동   4.615997e+06
제주시 구좌읍   6.893152e+06
제주시 노형동   1.402568e+07
제주시 도두동   2.507425e+06
제주시 봉개동   3.458322e+06
제주시 삼도1동  3.826244e+06
제주시 삼도2동  3.783072e+06
제주시 삼양동   3.292408e+06
제주시 아라동   9.037743e+06
제주시 애월읍   1.653558e+07
제주시 연동    1.432459e+07
제주시 오라동   7.708228e+06
제주시 외도동   3.044436e+06
제주시 용담1동  2.665650e+06
제주시 용담2동  9.577198e+06
제주시 우도면   1.145834e+06
제주시 이도1동  5.919458e+06
제주시 이도2동  1.549244e+07
제주시 이호동   2.347766e+06
제주시 일도1동  1.823867e+06
제주시 일도2동  6.513383e+06
제주시 조천읍   9.914494e+06
제주시 추자면   9.773350e+05
제주시 한경면   2.586402e+06
제주시 한림읍   7.805394e+06
제주시 화북동   5.791551e+06

In [26]:
tot = pd.concat([a, b['8월방문객수']], axis = 1)
tot

                1월방문객수        8월방문객수
emd_nm
제주시 건입동   4.182419e+06  4.615997e+06
제주시 구좌읍   4.630025e+06  6.893152e+06
제주시 노형동   1.359102e+07  1.402568e+07
제주시 도두동   2.348270e+06  2.507425e+06
제주시 봉개동   2.505919e+06  3.458322e+06
제주시 삼도1동  4.028351e+06  3.826244e+06
제주시 삼도2동  3.781787e+06  3.783072e+06
제주시 삼양동   3.318351e+06  3.292408e+06
제주시 아라동   8.063504e+06  9.037743e+06
제주시 애월읍   1.376778e+07  1.653558e+07
제주시 연동    1.482954e+07  1.432459e+07
제주시 오라동   8.031746e+06  7.708228e+06
제주시 외도동   3.220686e+06  3.044436e+06
제주시 용담1동  2.671214e+06  2.665650e+06
제주시 용담2동  8.051210e+06  9.577198e+06
제주시 우도면   7.690125e+05  1.145834e+06
제주시 이도1동  5.133290e+06  5.919458e+06
제주시 이도2동  1.707502e+07  1.549244e+07
제주시 이호동   1.927025e+06  2.347766e+06
제주시 일도1동  1.800222e+06  1.823867e+06
제주시 일도2동  7.036432e+06  6.513383e+06
제주시 조천읍   7.531975e+06  9.914494e+06
제주시 추자면   9.455782e+05  9.773350e+05
제주시 한경면   2.019959e+06  2.586402e+06
제주시 한림읍   5.602212e+06  7.805394e+06
제주시 화북동   5.632711e+06  5.791551e+06

In [27]:
tot.to_csv('1_8유동인구_x24.csv', encoding = 'euc_kr')